@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html {font-size: 100%;}
@media(max-width:700px) {html {font-size: 60%;}}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    margin: 0;
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

#content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#headerimage {
    margin: 0 auto 4vh auto;
    position: relative;
    width: 400px;
    height: 10%;
}
@media(max-width:680px) {#headerimage {width: 300px;}}

#subtitle {
    font-size: 3rem;
    font-weight: 700;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    overflow: hidden;
    border: 0.25rem solid #FFF;
    width: 50%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#about {
    font-size: 1.5rem;
    margin-bottom: 4vh;
}

#socials {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-bottom: 9vh;
}

a {
    color: #FFF;
    text-decoration: none;
}
a:hover {color: rgba(255,255,255,0.75);}
a:active {color: rgba(255,255,255,0.5);}

a.text {
    padding-bottom: 1px;
    border-bottom: 2px solid #FFF;
}
a:hover {border-bottom-color: rgba(255,255,255,0.75);}
a:active {border-bottom-color: rgba(255,255,255,0.5);}

#footer {
    line-height: 1.75rem;
}